# Development environment overrides
replicaCount: 1

image:
  tag: "latest"

service:
  type: ClusterIP

ingress:
  enabled: true
  hosts:
    - host: api-dev.emr-integration.example.com
      paths:
        - path: /
          pathType: Prefix
  tls:
    - secretName: api-gateway-dev-tls
      hosts:
        - api-dev.emr-integration.example.com

resources:
  limits:
    cpu: 1000m
    memory: 1Gi
  requests:
    cpu: 250m
    memory: 256Mi

autoscaling:
  enabled: false

kong:
  log_level: debug

env:
  - name: KONG_LOG_LEVEL
    value: "debug"
