apiVersion: v1
kind: Secret
metadata:
  name: {{ include "api-gateway.fullname" . }}
  labels:
    {{- include "api-gateway.labels" . | nindent 4 }}
type: Opaque
stringData:
  KONG_PG_USER: {{ .Values.kong.pg_user | quote }}
  KONG_PG_PASSWORD: "" # Use External Secrets Operator to inject from AWS Secrets Manager
---
apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: {{ include "api-gateway.fullname" . }}-postgres
  labels:
    {{- include "api-gateway.labels" . | nindent 4 }}
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secrets-manager
    kind: ClusterSecretStore
  target:
    name: {{ include "api-gateway.fullname" . }}
    creationPolicy: Merge
    template:
      type: Opaque
      data:
        KONG_PG_PASSWORD: "{{ `{{ .password }}` }}"
  dataFrom:
  - extract:
      key: emr-integration/{{ .Values.environment | default "dev" }}/rds/master-credentials
